/training/models
/training/logs
/training/monitor
/training/archive/*
/testing/models
/testing/logs
/testing/results
/.vscode/*

.ipynb_checkpoints
.vscode
__pycache__
.webots_world_file.wbproj

# Proto's that are overwritten by proto_config based configurations on env init
RpLidarA2.proto